[preset.0]

name="Android"
platform="Android"
runnable=true
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="build/OrangeWilderness.apk"
# 脚本加密：script_export_mode=2 加密导出 .gde（官方 Godot 支持）
# 普通 gdre 反编译工具无法解密 .gde，需要密钥
script_export_mode=2
script_encryption_key="c89d2c26b4a192667ac7cbdf6569120d72f546b3d8009c44d23ba2362f82c6c2"
# 注意：encrypt_pck 需要自定义构建的引擎，官方二进制不支持，所以保持 false
encrypt_pck=false
encrypt_directory=false
encryption_include_filters=""
encryption_exclude_filters=""

[preset.0.options]

custom_template/debug=""
custom_template/release=""
gradle_build/use_gradle_build=false
architectures/armeabi-v7a=true
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=false
version/code=1
version/name="1.0.0"
package/unique_name="com.orgcorange.wilderness"
package/name="橘子荒野"
package/signed=false
keystore/debug=""
keystore/debug_user=""
keystore/debug_password=""
keystore/release=""
keystore/release_user=""
keystore/release_password=""
screen/immersive_mode=true
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
command_line/extra_args=""
apk_expansion/enable=false
permissions/custom_permissions=PackedStringArray()
graphics/32_bits_framebuffer=true
package/show_in_app_library=true
icons/android_adaptive_icon_foreground="res://icons/icon_foreground.png"
icons/android_adaptive_icon_background="res://icons/icon_background.png"
launcher_icons/main_192x192="res://icons/icon.png"
launcher_icons/adaptive_foreground_432x432="res://icons/icon_foreground.png"
launcher_icons/adaptive_background_432x432="res://icons/icon_background.png"
